# gitignore template for Drupal projects
#
# earlier versions of Drupal are tracked in `community/PHP/`
#
# follows official upstream conventions:
# https://www.drupal.org/docs/develop/using-composer

# Ignore configuration files that may contain sensitive information
/web/sites/*/settings*.php
/web/sites/*/services*.yml
!/web/sites/*/settings.php
/web/sites/sites.php
/web/sites/settings.shared.php
!/web/sites/*/settings.ddev.php
/web/sites/services*.yml

# Ignore paths that may contain user-generated content
/web/sites/*/files
/web/sites/*/public
/web/sites/*/private
/web/sites/*/files-public
/web/sites/*/files-private

# Ignore .env files as they are personal
/.env

# Ignore DB dumps
*.sql
*.sql.gz
*.mysql
*.mysql.gz

# Ignore paths that may contain temporary files
/web/sites/*/translations
/web/sites/*/tmp
/web/sites/*/cache

# Ignore vendor dependencies and scripts
/composer.phar
/composer
/robo.phar
/robo
/drush.phar
/drush
/drupal.phar
/drupal
node_modules/

/.idea
.DS_Store
vendor/
web/core/
web/modules/contrib/
web/themes/contrib/
/.editorconfig
/.gitattributes
